
<div class="flex justify-between my-20 mx-20">
    <a onclick="goBack()"><i class="fas fa-chevron-left"></i></a>
    <h1 id="nav_headerText" class="font-bold text-18">Archive</h1>
    <a href="/settings/index.html"><i class="fas fa-cog"></i></a>
</div>