
<div class="flex justify-start my-20 mx-20">
    <a onclick="goBack()"><i class="fas fa-chevron-left"></i></a>
    <h1 id="nav_headerText" class="ml-100 font-bold text-18">News Settings</h1>
</div>