
<% include ../partials/head %>
<main class="main__archive">
	<% include ../partials/top-nav %>
	<form>
		<input type="text" placeholder="Search news" name="search">
		<button type="submit"><i class="fa fa-search"></i></button>
	  </form>
	<div id="archiveCategories-cardList">
		<!---------------------------INDSÆT CATEGORIES TEMPLATE------------------->
	</div>
</main>

<!-------------------------------------LAVER CATEGORIES TEMPLATES-------------------->
<template id="archiveCategories-template">
	<h3 class="archiveCategories__categori"></h3>
	<i class="fas fa-chevron-down"></i>
	<div class="archiveArticle-cardList">
		<!---------------------------INDSÆT ARTICLES TEMPLATE------------------->
	</div>
</template>

<!-------------------------------------LAVER ARTICLES TEMPLATES-------------------->
	<template id="archiveArticle-template">
		<article class="archive__outherBox">
			<a class="archive__article" href="">
				<img class="archive__image" src="" alt="image featured">
				<h4 class="archive__headetText"></h4>
				<p class="archive__text"></p>
			</a>
		</article>
	</template>

<% include ../partials/footer %>
<% include ../partials/after-footer %>
