
<%- include ('../partials/head') %>
<main>
	<%- include ('../partials/archive_nav') %>
	<form class="border-t-2 border-b-2 pt-20 border-white-200">
		<input class="w-350 h-45 mx-15 icon shreach bg-white-200 px-5 rounded" type="text" placeholder="Search news" name="search">
		<button type="submit"></i></button>
	</form>
	<div id="archiveCategories-cardList">
		<!---------------------------INDSÆT CATEGORIES TEMPLATE------------------->
	</div>
</main>

<!-------------------------------------LAVER CATEGORIES TEMPLATES-------------------->
<template id="archiveCategories-template">
	<h3 class=""></h3>
	<i class="fas fa-chevron-down"></i>
	<div class="archiveArticle-cardList">
		<!---------------------------INDSÆT ARTICLES TEMPLATE------------------->
	</div>
</template>

<!-------------------------------------LAVER ARTICLES TEMPLATES-------------------->
	<template id="archiveArticle-template">
		<article class="">
			<a class="" href="">
				<img class="" src="" alt="image featured">
				<h4 class=""></h4>
				<p class=""></p>
			</a>
		</article>
	</template>

<%- include ('../partials/footer') %>
<%- include ('../partials/after-footer') %>
