<%- include('../partials/head') %>
<main class="main__archive">
	<%- include('../partials/index_nav') %>
	<form class="border-t-2 border-b-2 pt-20 border-white-200">
		<input class="w-350 h-45 mx-15 icon shreach bg-white-200 px-5 rounded" type="text" placeholder="Search news" name="search">
		<button type="submit"></i></button>
	</form>
	<nav class="indexCategories-cardList">

		<!-----------------------INSÆT CARDLIST HER -------------------------->
	
	</nav>		
</main>

<!-------------------------------------LAVER CATEGORIES TEMPLATES-------------------->

<template id="indexCategories-template">
	<a class="dropdown-content index_cardList" id="myDropdown">
		<div class="dropdown border-white-200 border-b-2">
			<button class="dropbtn flex px-15 items-center h-60 w-full" onclick="myFunction()">
				<div class="w-35 h-35 flex bg-white shadow-b rounded-full items-center ">
					<img class="m-auto block" src="/assets/images/icn_surfing.png" alt="Icon category">
					<p class="index__categoriTitle"></p>
				</div>

				<!---------------------------INDSÆT ARTICLES TEMPLATE------------------->
				
				<i class="ml-183 fas fa-chevron-right"></i>
			</button>
		</div>
	</a>
</template>

<!-------------------------------------LAVER ARTICLES TEMPLATES-------------------->
	
	<template id="archiveArticle-template">
		<article class="">
			<a class="" href="">
				<img class="" src="" alt="image featured">
				<h4 class=""></h4>
				<p class=""></p>
			</a>
		</article>
	</template>

<script src="/assets/js/indexXML.js"></script>
<script src="/assets/js/dropdown.js"></script>
<%- include('../partials/footer') %>
<%- include('../partials/after-footer') %>