<%- include ('../partials/head') %>
<main>
	<%- include ('../partials/settings_nav') %>
	<section class="text-center bg-white-400 border-t border-white-500 w-full">
		<h1 class="text-30 font-bold text-green-100 mt-37">Manage</h1>
		<h4 class="text-white-500">Categories</h4>
		<div id="theme_darkLine" class="border w-35 border-white my-0 mx-auto mt-10"></div>
		<div>
			<div id="settings_cardList" class="mt-60 rounded-lg bg-white shadow-x mx-20">
				<div class="flex justify-between items-center py-10 px-20">
					<h5 class="categoryTitle uppercase font-extrabold tracking-wide">Health</h5>
					<label>
						<input type="checkbox">
					</label>
				</div>
				<!-----------------------INSÆT TEMPLATE------------------------>
			</div>
		</div>
		<button id="theme_button" class="outline-none mb-77 mt-100 border-solid border border-white-500 rounded-full w-180 h-50">
			<p class="text-blue-300 textTransform uppercase text-10 w-173 tracking-wider font-hairline">Toggle dark mode</p>
		</button>
	</section>
</main>

<!---------------------------LAVER TEMPLATE-------------------------->
<template id="template_settings">
	
</template>

<script src="/assets/js/RssToJson.js"></script>
<script src="/assets/js/tema.js"></script>
<script src="/assets/js/historyBack.js"></script>

<%- include ('../partials/footer') %>
<%- include ('../partials/after-footer') %>